<div class="container-<%= message.user.id %>">
  <div>
    <h6><%= message.user.first_name %></h6>
    <div class="message-box msg-<%= message.user.id %>">
      <%= message.content %>
    </div>
  </div>
</div>
