.chatroom-container {
  height: 75vh;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.side-panel {
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatroom {
  background: white;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages-container {
    height: 100%;
    overflow-y: scroll;
    padding: 2rem;
  }

  .new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    margin-bottom: 0;

    .form-group {
      margin-bottom: 0;
    }
  }
}
