.chatroom-container {
  height: 75vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 20px;


  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color:$secondary;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.side-panel {
  overflow-y: scroll;
  overflow-x: hidden;

  .highlighted-user {
    background-color: $dark-green;
    // padding: 5px 10px;
    border-radius: 20px;

    a {
      color: $white;
    }
  }
}

.chatroom {
  background: white;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 20px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages-container {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    overflow-y: hidden;
  }

  .new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    margin-bottom: 0;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.message-box {
  width: fit-content;
  background-color: rgb(194, 194, 194);
  color: #313D2E;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}
