<div class="page-margin-top ml-0">
  <% if @users.empty? %>
    <p class="text-center mt-5" style="height: 78vh">
      <strong><%= "There weren't any users matching your search criteria. Please search again" %></strong>
    </p>
  <% else %>
    <div class="row">
      <%= render "shared/cards" %>
    </div>
  <% end %>
</div>
