<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Artist Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= form_with url: users_path, method: :get, class: "search-bar" do %>

                  <%= text_field_tag :query, params[:query], class: "form-control search", placeholder: "Search by City" %>
                  <%= text_field_tag :query, params[:query], class: "form-control search", placeholder: "Search by ability" %>
                  <%= submit_tag "Search", class: "btn btn-secondary" %>

                <% end %>
              </div>
            </div>
          </div>
        </div>
