<div class="container">
  <br>
  <h1>Headers, Paragraphs & Links</h1>
  <hr>
  <h1>Header H1</h1>
  <h2>Header H2</h2>
  <h3>Header H3</h3>
  <h4>Header H4</h4>
  <h5>Header H5</h5>
  <h6>Header H6</h6>
  <p></p>
  <p>This is a paragraph</p>
  <a href="#">This is a link</a>

  <br>
  <br>
  <br>

  <h1>Buttons</h1>
  <hr>
  <div class="btn btn-primary">Primary Button</div>
  <div class="btn btn-secondary">Secondary Button</div>

  <br><br><br>

  <h1>User Card</h1>
  <hr>

  <div class="card mb-3" style="max-width: 400px;">
  <div class="row no-gutters">
    <div class="col-5">
      <img src="https://htmlcolors.com/gradients-images/34-asana-color-gradient.jpg" class="card-img img-fluid h-100 w-100" alt="...">
    </div>
    <div class="col-7">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>
