<div class="container">
  <br>
  <h1>Headers, Paragraphs & Links</h1>
  <hr>
  <h1>Header H1</h1>
  <h2>Header H2</h2>
  <h3>Header H3</h3>
  <h4>Header H4</h4>
  <h5>Header H5</h5>
  <h6>Header H6</h6>
  <p></p>
  <p>This is a paragraph</p>
  <a href="#">This is a link</a>

  <br>
  <br>
  <br>

  <h1>Buttons</h1>
  <hr>
  <div class="btn btn-primary">Primary Button</div>
  <div class="btn btn-secondary">Secondary Button</div>

  <br><br><br>

  <h1>User Card</h1>
  <hr>

  <%# User profile card %>
  <div class="card-profile-small">

    <div class="card-bg">
      <div>
        <img src="https://image.shutterstock.com/image-photo/portrait-happy-mature-man-wearing-260nw-732336316.jpg" id="profile-image" alt="User profile image">
        <h5 id="profile-name">Louis Bobby</h5>
        <p>Lisbon, Portugal</p>
        <p>Age: 32</p>
      </div>
    </div>

    <div class="card-body w-100">
        <div>
          <h5 class="card-body__title">Instruments</h5>
          <p class="card-body__details">Vocals&nbsp; Acoustic Guitar&nbsp;  Drums&nbsp;  Bass&nbsp;  Ukulele&nbsp;</p>
          <hr>
        </div>
        <div>
          <h5 class="card-body__title">Genre</h5>
          <p class="card-body__details">Cheese Metal&nbsp;</p>
          <hr>
        </div>
        <div>
          <h5 class="card-body__title">Ability</h5>
          <p class="card-body__details">Expert</p>
      </div>
    </div>
  </div>

  <br><br><br>

</div>
