

  <div class ="d-flex justify-content-between">
    <div class="error-padding">
      <h1>Broken a string?</h1>
      <p>Sorry we can't find that page. You'll find loads to explore on our homepage</p>
      <div class="p-2 text-white btn btn-primary btn-box-shadow">
        <%= link_to 'Jamseed Home', root_path, class: "text-white" %>
      </div>
    </div>
  </div>

