<div class="banner banner-image vh-100">
    <div class="banner-buttons">
      <a class="btn btn-flat" href="#">Login</a>
      <a class="btn btn-flat" href="#">Signup</a>
    </div>
  <div class="container">
  </div>
    <div class="banner-text">
      <h1>Jamseeds</h1>
      <p>Bringing musicians together</p>
    </div>
</div>
