

<div class="banner banner-image">
  <div class ="d-flex justify-content-between">
    <div class="p-5">
      <h1>Jamseeds</h1>
      <p>Bringing <strong>Musicians</strong> together!</p>
      <a class="btn btn-primary" href="#">Search now</a>
    </div>
  </div>
</div>
