.card-link {
  // Override card text default link colour
  color: $black;
}

.card-jamseeds {
  transition: all .25s linear;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 20px;
  overflow: hidden;
  border: none;

  // .card-img-top {
  //   height: 115px;
  //   background: rgb(2,0,36);
  //   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,94,114,1) 100%);
  //   background-image: url("https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");

  // }

  .image__height {
    height: 180px;
  }

  .card-background {
    height: 156px;
    object-fit: cover;
  }

  .card-body {
    padding: 18px 30px 30px 30px;



    .card-body__image {
     
      min-width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid #FFF;
      // background-image: url("https://images.unsplash.com/photo-1524689222688-670203109043?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1580&q=80");
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 35px;
      position:absolute;
      left: 50px;
      top: 100px;
    }

    .card-body-title {
      font-weight: 600;

    }

    .card-body__details {
      i {
        margin-right: 5px;
      }
    }

    // .card-body__details {
    //   font-weight: 300;
    //   padding-bottom: 5px;
    //   display: block;
    //   width: 200px;
    //   overflow: hidden;
    //   white-space: nowrap;
    //   text-overflow: ellipsis;
    // }

  }
}

.card-jamseeds:hover{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
              rgba(0, 0, 0, 0.07) 0px 2px 4px,
              rgba(0, 0, 0, 0.07) 0px 4px 8px,
              rgba(0, 0, 0, 0.07) 0px 8px 16px,
              rgba(0, 0, 0, 0.07) 0px 16px 32px,
              rgba(0, 0, 0, 0.07) 0px 32px 64px;


}

.card-body__imagelg {
  min-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #FFF;
  // background-image: url("https://images.unsplash.com/photo-1524689222688-670203109043?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1580&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 35px;
}

.left-margin {
  margin-left: 200px;
}

.card-margin {
  padding: 18px 30px 30px 30px;
}

.margin-top-bottom {
  margin-bottom: 100px;
  margin-top: 140px;
}

.green-border {
  border: 4px solid rgb(23, 164, 44) !important;
}
