.footer {
  background-color: $white;
  border-top: 2px solid $footer-gray;
  text-align: center;
  // position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $footer-gray;


  p {
    margin: 0;
    padding: 0;
  }
}
