.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("group-pic.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);

}

.banner {
  background-size: cover;
  height: 72vh;
}
.banner-padding {
  padding: 150px;

}


.banner-text {
  opacity: 0.9;
  font-size: x-large;
  color: white;
  text-align: end;
  margin-top: -160px;
  margin-right: 60px;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  font-size: 52px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  padding: 20px 0;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 100px;
}
