.banner-image {
  background-image: url("TEST.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);


}

.banner-buttons {


}


.banner-text {
  opacity: 0.9;
  font-size: x-large;
  color: white;
  margin-top: 340px;
  margin-left: 640px;

}
