.navbar-jamseeds {
  justify-content: space-between;
  background: $dark-green;
}

.navbar-jamseeds .navbar-collapse {
  flex-grow: 0;
}

.navbar-jamseeds .navbar-brand img {
  width: 40px;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.navbar-title-color {
  color: $white;
}

.search-bar {
  @media only screen and (max-width: 775px) {
  max-width: 75%;
  margin: 0 auto;
  font-size: 10px;
  }
  @media only screen and (max-width: 585px) {
    display: none;
  }
}
