.navbar-jamseeds {
  justify-content: space-between;
  background: white;
}

.navbar-jamseeds .navbar-collapse {
  flex-grow: 0;
}

.navbar-jamseeds .navbar-brand img {
  width: 40px;
}


.navbar {
  overflow: hidden;
  // position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
}
