.profile__image {
margin-right: 2rem;
margin-left: 2rem;
border-radius: 2px;

}

.user-card {
  transition: all .25s linear;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  min-height: 250px;
}
